---
import "../styles/global.css";
import Header from "../components/widgets/Header.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="text-gray-300 bg-slate-800 text-lg">
    <Header />
    <slot />
  </body>
</html>
